  animation-duration: 2s;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

.closeHer {
  animation-name: heartMove;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.beating > img {
  animation-name: beat;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.openedHer {
  top: 85%;
  transform: translate(-50%, 0);
}

.main {
  color: red;
  font-weight: 700;
}
@media (max-width: 480px) {
  p {
    font-size: 17px;
  }
  h1 {
    padding-left: 10px;
  }
}
@media (max-width: 580px) {
  p {
    font-size: 17px;
  }
}
.back {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
